/* Add background color to the body */
body {
    background-color: #f7f7f7;
  }
  
  /* Style the header */
  header {
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  header h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  header h2 {
    font-size: 24px;
    margin-top: 0;
    font-weight: normal;
  }
  
  header p {
    font-size: 18px;
    margin-bottom: 0;
  }
  
  /* Style the summary section */
  section:nth-child(2) {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  section:nth-child(2) h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  section:nth-child(2) p {
    font-size: 18px;
    margin-bottom: 0;
  }
  
  /* Style the work experience section */
  section:nth-child(3) {
    background-color: #f7f7f7;
    padding: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  section:nth-child(3) ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  section:nth-child(3) ul li {
    margin-bottom: 20px;
    position: relative;
  }
  
  section:nth-child(3) ul li:last-child {
    margin-bottom: 0;
  }
  
  section:nth-child(3) ul li h4 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  section:nth-child(3) ul li h5 {
    font-size: 16px;
    margin-bottom: 5px;
    color: #999;
  }
  
  section:nth-child(3) ul li p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  section:nth-child(3) ul li ul {
    list-style: disc;
    margin-left: 20px;
  }
  
  section:nth-child(3) ul li:before {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #333;
  }
  
  section:nth-child(3) ul li:last-child:before {
    height: 0;
  }
  
  /* Style the education section */
  section:nth-child(4) {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  section:nth-child(4) ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  section:nth-child(4) ul li {
    margin-bottom: 20px;
  }
  
  section:nth-child(4) ul li:last-child {
    margin-bottom: 0;
  }
  
  section:nth-child(4) ul li h4 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  section:nth-child(4) ul li h5 {
    font-size: 16px;
    margin-bottom: 5px;
    color: #999;
  }